astroid==3.3.5
behave==1.2.6
dill==0.3.9
iniconfig==2.0.0
isort==5.13.2
mccabe==0.7.0
packaging==24.1
parse==1.20.2
parse_type==0.6.4
platformdirs==4.3.6
pluggy==1.5.0
pylint==3.3.1
pylint-behave==1.0.3
pylint-plugin-utils==0.8.2
pytest==8.3.3
pytest-mock==3.14.0
setuptools==75.1.0
six==1.16.0
tomlkit==0.13.2
